<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerConnect"
        tools:targetApi="31">
        <activity
            android:name=".user.InternshipsActivity"
            android:exported="false" />
        <activity
            android:name=".user.HigherEducationActivity"
            android:exported="false" />
        <activity
            android:name=".user.TrainingActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ViewInternshipUploadActivity"
            android:exported="false" />
        <activity
            android:name=".admin.InternshipAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ViewHigherEducationUploadsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.HigherEducationAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ViewTrainingUploadsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.TrainingAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ViewUploadsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.HackathonsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.PlacementsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EventsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".user.InfoViewActivity"
            android:exported="false" />
        <activity
            android:name=".user.HackathonsActivity"
            android:exported="false" />
        <activity
            android:name=".user.FormActivity"
            android:exported="false" />
        <activity
            android:name=".user.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".user.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".user.ApplyActivity"
            android:exported="false" />
        <activity
            android:name=".user.PlacementsActivity"
            android:exported="false" />
        <activity
            android:name=".user.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>